@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Welcome to the Fitness App</h1>

    <a asp-controller="Run" asp-action="TrackRun">Track Run</a>
    <a asp-controller="Swim" asp-action="TrackSwim">Track Swim</a>
    <a asp-controller="Bike" asp-action="TrackBike">Track Bike</a>
</div>
